:root {
--spotify-green: #1DB954;
--spotify-black: #191414;
--spotify-white: #FFFFFF;
--spotify-gray: rgba(40, 40, 40, 0.8);
--spotify-lightgray: #B3B3B3;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background: linear-gradient(to left, #1c0233 0%, var(--spotify-black) 100%);
}

.header {
    background-color: var(--spotify-black);
    color: var(--spotify-white);
    font-size: 48px;
    font-weight: bolder;
    padding: auto 1em;
    margin-bottom: 0.5em;
    display: flex;
    justify-content: center;
    box-shadow: 1px 2px 8px #2e2e2e;
}

.footer {
    background-color: var(--spotify-green);
    color: var(--spotify-black);
    font-size: 16px;
    font-weight: bold;
    padding: 0.3em;
    text-align: center;
}

.enemy-display {
    background-color: var(--spotify-gray);
    color: var(--spotify-white);
    border-radius: 5px;
    font-size: 18px;
    font-weight: bold;
    padding-left: 1em;
    box-sizing: border-box;
    box-shadow: 1px 1px 3px var(--spotify-gray);
}

.container {
    display: grid;
    grid-template-columns: repeat(4, minmax(300px, 1fr));
    gap: 15px;
    margin: 15px;
}

.form-container {
    /* position: absolute; */
    background-color: white;
    border: 1px solid #404040;
    padding: 1em;
    grid-column: span 1;
    width: 30vw;
}

.form-section {
    background-color: rgba(0,0,0,0.5);
    display: none;
    position: absolute;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

img {
    width: 2.5em;
    margin-top: 0.2em;
    filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(87deg) brightness(98%) contrast(104%);
}

#add {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    border: none;
    gap: 0.3em;
    font-size: 20px;
    font-weight: bold;
    border-radius: 5px;
    padding: 0.5em 2em;
    background: none;
    color: var(--spotify-white);
    align-self: center;
    margin-top: auto;
    margin-bottom: 1em;
    margin-left: auto;
}

#add:hover {
    cursor: pointer;
}